USE [master]
GO
/****** Object:  Database [SouvernirManagement]    Script Date: 4/6/2021 5:57:42 PM ******/
CREATE DATABASE [SouvernirManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SouvernirManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KNIGHT\MSSQL\DATA\SouvernirManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SouvernirManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.KNIGHT\MSSQL\DATA\SouvernirManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SouvernirManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SouvernirManagement]
GO
/****** Object:  Table [dbo].[CTHDB]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDB](
	[MaHDXuat] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[Sale] [int] NOT NULL,
	[ThanhTien] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_CTHDB] PRIMARY KEY CLUSTERED 
(
	[MaHDXuat] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[DonGiaNhap] [float] NOT NULL,
	[DonGiaBan] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TenChatLieu] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[AnhHH] [nvarchar](100) NULL,
	[NgayNhapKho] [date] NULL,
	[NguonGoc] [nvarchar](40) NULL,
	[DaBan] [int] NULL,
	[ChiPhi] [float] NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MaHDNhap] [nchar](10) NOT NULL,
	[MaHang] [nchar](10) NOT NULL,
	[MaNv] [nchar](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_HOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[MaHDNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONXUAT]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONXUAT](
	[MaHDXuat] [nchar](10) NOT NULL,
	[MaNv] [nchar](10) NOT NULL,
	[MaKh] [nchar](10) NOT NULL,
	[Ngayban] [date] NOT NULL,
	[TongTien] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_HoaDonXua] PRIMARY KEY CLUSTERED 
(
	[MaHDXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nchar](10) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiaChiKH] [nvarchar](100) NULL,
	[SDTKH] [numeric](18, 0) NOT NULL,
	[Bank] [numeric](18, 0) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNv] [nchar](10) NOT NULL,
	[TaiKhoan] [char](50) NOT NULL,
	[MatKhau] [char](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nchar](10) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[Email] [char](100) NOT NULL,
	[CMND] [char](12) NOT NULL,
	[SDT] [char](20) NOT NULL,
	[AnhNV] [nvarchar](max) NULL,
	[ChucVu] [nvarchar](max) NOT NULL,
	[NgayBDLV] [date] NOT NULL,
	[HeSoLuong] [float] NULL,
	[Luong] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[ThongBao] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 4/6/2021 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[TaiKhoan] [char](50) NOT NULL,
	[CheDo] [int] NULL,
	[MaNv] [nchar](10) NULL,
 CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HANG] ADD  CONSTRAINT [AnhHH]  DEFAULT ('.\App1\Image\file.png') FOR [AnhHH]
GO
ALTER TABLE [dbo].[HANG] ADD  CONSTRAINT [DaBan]  DEFAULT ((0)) FOR [DaBan]
GO
ALTER TABLE [dbo].[TRANGTHAI] ADD  CONSTRAINT [DF__TRANGTHAI__CheDo__4BAC3F29]  DEFAULT ((1)) FOR [CheDo]
GO
ALTER TABLE [dbo].[CTHDB]  WITH CHECK ADD  CONSTRAINT [FK_CTHDB_HANG1] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANG] ([MaHang])
GO
ALTER TABLE [dbo].[CTHDB] CHECK CONSTRAINT [FK_CTHDB_HANG1]
GO
ALTER TABLE [dbo].[CTHDB]  WITH CHECK ADD  CONSTRAINT [FK_CTHDB_HOADONXUAT] FOREIGN KEY([MaHDXuat])
REFERENCES [dbo].[HOADONXUAT] ([MaHDXuat])
GO
ALTER TABLE [dbo].[CTHDB] CHECK CONSTRAINT [FK_CTHDB_HOADONXUAT]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_HANG] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANG] ([MaHang])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_HANG]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_HANG1] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANG] ([MaHang])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_HANG1]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHANVIEN] FOREIGN KEY([MaNv])
REFERENCES [dbo].[NHANVIEN] ([MaNv])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUAT_KHACHHANG] FOREIGN KEY([MaKh])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_HOADONXUAT_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HOADONXUAT_NHANVIEN] FOREIGN KEY([MaNv])
REFERENCES [dbo].[NHANVIEN] ([MaNv])
GO
ALTER TABLE [dbo].[HOADONXUAT] CHECK CONSTRAINT [FK_HOADONXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[TRANGTHAI]  WITH CHECK ADD  CONSTRAINT [FK_TRANGTHAI_NHANVIEN] FOREIGN KEY([MaNv])
REFERENCES [dbo].[NHANVIEN] ([MaNv])
GO
ALTER TABLE [dbo].[TRANGTHAI] CHECK CONSTRAINT [FK_TRANGTHAI_NHANVIEN]
GO
USE [master]
GO
