<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App1.Properties.Settings.SouvernirManagementConnectionString"
            connectionString="Data Source=LAPTOP-8N9JKN55\KNIGHT;Initial Catalog=SouvernirManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>